body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #111;
    color: #fff;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}